<form (ngSubmit)="updatePersonne()" class="mt-4">
    <div class="mb-3">
        <label for="idPersonne" class="form-label">id  :</label>
        <input type="text" id="idPersonne" [(ngModel)]="personne.idPersonne" name="idPersonne" class="form-control" required>
      </div>
    <div class="mb-3">
      <label for="nomPersonne" class="form-label">Nom :</label>
      <input type="text" id="nomPersonne" [(ngModel)]="personne.nomPersonne" name="nomPersonne" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="prenomPersonne" class="form-label">Prénom :</label>
      <input type="text" id="prenomPersonne" [(ngModel)]="personne.prenomPersonne" name="prenomPersonne" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="agePersonne" class="form-label">Âge :</label>
      <input type="number" id="agePersonne" [(ngModel)]="personne.agePersonne" name="agePersonne" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="datePersonne" class="form-label">Date :</label>
      <input type="date" id="datePersonne" [(ngModel)]="personne.datePersonne" name="datePersonne" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter Personne</button>
  </form>
  
  <div *ngIf="message" class="alert alert-success mt-3">
    {{ message }}
  </div>