<form (ngSubmit)="ajouterPersonne()">
    <div>
      <label for="nomPersonne">Nom:</label>
      <input type="text" id="nomPersonne" [(ngModel)]="personne.nomPersonne" name="nomPersonne" required>
    </div>
    <div>
      <label for="prenomPersonne">Prénom:</label>
      <input type="text" id="prenomPersonne" [(ngModel)]="personne.prenomPersonne" name="prenomPersonne" required>
    </div>
    <div>
      <label for="agePersonne">Âge:</label>
      <input type="number" id="agePersonne" [(ngModel)]="personne.agePersonne" name="agePersonne" required>
    </div>
    <div>
      <label for="datePersonne">Date:</label>
      <input type="date" id="datePersonne" [(ngModel)]="personne.datePersonne" name="datePersonne" required>
    </div>
    <button type="submit">Ajouter Personne</button>
  </form>
  <div *ngIf="message" class="alert alert-success">
    {{ message }}
  </div>
   <!-- (change)="onDateChange($event)"  -->